<body>
  <div class="error">
    <h1>Oops! There was an error.</h1>
    <p><strong>Reason:&nbsp</strong>(<%=error.statusCode%>) <%=error.message%></p>
    <a href="/">Return to homepage</a>
  </div>
</body>
