<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet"
  />
  <title>Mini Message Board</title>
</head>
<%-include('header')%>
<form method="POST" action="/new">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" maxlength="10" aria-required="false" />
  <label for="message">Message</label>
  <input
    type="textarea"
    name="message"
    id="message"
    maxlength="50"
    rows="2"
    required
    aria-required="true"
  />
  <button>Post</button>
</form>
