<form method="POST" action="/new">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" maxlength="20" aria-required="false" />
  <label for="message">Message</label>
  <input
    type="textarea"
    name="message"
    id="message"
    maxlength="20"
    rows="2"
    required
    aria-required="true"
  />
  <button>Post</button>
</form>
