<div class="github">
  <a href="https://github.com/luciavu/message-board" target="_blank"
    ><i class="fab fa-github"></i
  ></a>
</div>
<div class="title">
  <a href="/"><h1>Message Board</h1></a>
</div>
