<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
</head>
<div class="github">
  <a href="https://github.com/luciavu/message-board" target="_blank"
    ><i class="fab fa-github"></i
  ></a>
</div>
<a href="/"><h1 class="title">Message Board</h1></a>
