<div class="details">
  <a class="back" href="/">Back</a>
  <h1>Message Details</h1>
  <p><strong>User:&nbsp</strong><%=message.user%></p>
  <p><strong>Date posted:&nbsp</strong><%=message.added%></p>
  <p class="message-detailed"><strong>Message:&nbsp</strong><%=message.text%></p>
</div>
